{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>{{movie.movie_name}}</h1>

<img src="{{movie.poster_image.url  }}" alt="{{movie.movie_name}} Poster" width="200">
<p><strong>Description:</strong>{{movie.movie_description}}</p>
<p><strong>Duration:</strong>{{movie.duration_minutes}} minutes</p>


<h2>Showtimes</h2>
<div class="Showtimes-list">
 {% for show in showtimes %}
 <div class="showtime-item">
        <p>
          <strong>Theater:</strong> {{ show.screen.theater.theater_name }}<br>
          <strong>Time:</strong> {{ show.start_time|date:"l, F j, g:i A" }}
        </p>
        <a href="{% url 'booking_view' show.id %}" class="book-btn">Book Now</a>
      </div>
    {% empty %}
      <p>There are no upcoming showtimes for this movie.</p>
    {% endfor %}

</div>
















{% endblock %}